@import "~constants/theme.scss";

.menu {
    
    .menu-items {
        border: 1px solid $secondary-color;
        row-gap: 1px;
        background-color: $secondary-color;
        max-width: 15rem;
    }

    .menu-item {
        background-color: #FFF;
        min-width: 7.5rem;
    }

    .body {
        border: 1px solid $secondary-color;
    }
}