$primary-color: #4F36A6;
$primary-light-color: #E3DFF0;
$secondary-color: #151515;
$secondary-light-color: #4F4F4F;

$white-1: #FFFFFF; 
$white-2: #FAFAFA; 
$white-3: #F9F9F9; 

$hover-color: #dadadaab;

$breakpoint-tablet: 1080px;