.grow {
    flex: 1
}

.shrink {
  width: fit-content;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.align-center {
    align-items: center;
} 

.justify-center {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.pointer {
  cursor: pointer;
}

.wrap {
  flex-wrap: wrap;
}

$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i}  {margin: $margin;}
    .ml#{$i} {margin-left: $margin;}
    .mr#{$i} {margin-right: $margin;}
    .mt#{$i} {margin-top: $margin;}
    .mb#{$i} {margin-bottom: $margin;}
    .mx#{$i} {margin-left: $margin; margin-right: $margin;}
    .my#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;


@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {padding: $padding;}
    .pl#{$i} {padding-left: $padding;}
    .pr#{$i} {padding-right: $padding;}
    .pt#{$i} {padding-top: $padding;}
    .pb#{$i} {padding-bottom: $padding;}
    .px#{$i} {padding-left: $padding; padding-right: $padding;}
    .py#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}
@include padding-classes;

@mixin gap-classes {
  @for $i from 1 through $sizes {
    $gap: $i * 0.25rem;
    /* gap #{$gap} */
    .g#{$i} {gap: $gap;}
    .gc#{$i} {column-gap: $gap;}
    .gr#{$i} {row-gap: $gap;}
  }
}
@include gap-classes;
