@import "~constants/theme.scss";

.my-details {
    .answers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint-tablet) {
        .answers {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
}
