@import "~constants/theme.scss";

html, body, #root, .App {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px; //change to resize whole site
}

div {
  display: flex;
}

@font-face {
  font-family: 'NarfoFont';
  src: url('/assets/fonts/Metropolis-Medium.otf') format('opentype'),
        url('/assets/fonts/Metropolis-Light.otf') format('opentype'),
        url('/assets/fonts/Metropolis-Regular.otf') format('opentype'),
        url('/assets/fonts/Metropolis-SemiBold.otf') format('opentype'),
        url('/assets/fonts/Metropolis-Thin.otf') format('opentype'),
        url('/assets/fonts/Metropolis-ExtraLight.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'NarfoFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary-light-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
