@import "~constants/theme.scss";

.group {
    
    .group-header {
        border-bottom: 1px solid #D6D6D6;
    }

    .group-body {

    }

    .group-label {
        font-size: 30px;
        color: $primary-color;
    }
}