@import "~constants/theme.scss";

.group {
    
    .group-header {
        border-bottom: 1px solid #D6D6D6;
    }

    .group-body {
        &.indent {
            .group-label {
                font-size: 1.5rem;
            }
        }
    }

    .group-label {
        font-size: 1.875rem;
        color: $primary-color;
    }

    .group-button {
        min-width: 7rem;
    }

}